#nav-sync, .sync, div#nav-sync.sync {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
}

/* navtree.js의 syncButtonOn/Off 함수에 대한 대응 */
img[src="sync_on.png"], 
img[src="sync_off.png"] {
  display: none !important;
}